{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="FullName">Full name:</label>
        {{ form_widget(form.FullName,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Full name'
            }
        }) }}
        <div class="invalid-feedback">
            {{ form_errors(form.FullName) }}
        </div>
    </div>
    <div class="form-group">
        <label for="date_of_birth">Date of Birth</label>
        {{ form_widget(form.DoB,{
            'attr':{
                'class':'form-control'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="major_id">MajorID</label>
        {{ form_widget(form.MajorID,{
            'attr':{
                'class':'form-control'
            }
        }) }}
    </div>
    <input type="submit" name="create_student" value="Create" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}
