{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="studentID">StudentID:</label>
        {{ form_widget(form.StudentID) }}
    </div>
    <div class="form-group">
        <label for="SubjectID">SubjectID:</label>
        {{ form_widget(form.SubjectID) }}
    </div>
    <div class="form-group">
        <label for="Score">Score:</label>
        {{ form_widget(form.Score) }}
    </div>
    </div>
    <input type="submit" name="create_todo" value="Create" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}
