{% extends 'base.html.twig' %}

{% block body %}
    <h1>Score list</h1>
{#    <a href="{{ path('car_index') }}">Car Show</a>#}
{#    <a href="{{ path('car_desc') }}">Car Desc</a>#}
{#    <a href="{{ path('car_asc') }}">Car Asc</a>#}
    <table>
        <thead>
        <tr>
            <th>Student ID</th>
            <th>Subject ID</th>
            <th>Score</th>
            <th><a href="{{ path('score_create') }} " class='btn btn-success'>Create</a></th>
        </tr>
        </thead>
        <tbody>
        {% for score in scores %}
            <tr>
                <td>{{ score.StudentID }}</td>
                <td>{{ score.SubjectID }}</td>
                <td>{{ score.score }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}